{% extends 'base.html.twig' %}

{% block title %}Marmytho - Accueil
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="display-5 fw-bold mb-4">Marmytho</h1>
		<p class="fs-4">"Bienvenue sur Marmytho, où chaque plat est un chef-d'œuvre... selon les légendes !"</p>
	</main>
{% endblock %}
